.bg-fb{
    background-color:#3C5A98;
}
.text-cloud{
    color: #FFFFFF;
}
/* header */
.padding-90{
    padding-top: 90px;
    padding-bottom: 40px;
}
.text-center{
    text-align: center;
}
.text-fb{
    color: #3C5A98;
}
.padding-left-50{
    padding-left: 50px
}
